<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @producto.nombre %>
</p>

<p>
  <b>Descripcion:</b>
  <%= truncate @producto.descripcion, length: 10 %>
</p>

<p>
  <b>Precio:</b>
  <%= number_to_currency(@producto.precio, unit: '€', format: "%n %u") %>
</p>

<p>
  <b>Imagen url:</b>
  <%= @producto.imagen_url %>
</p>


<%= link_to 'Edit', edit_producto_path(@producto) %> |
<%= link_to 'Back', productos_path %>
